// archive page
.post-type-static_html_setting {

  .wp-list-table {
    table-layout: auto;
  }

  .clolumn-status {

  }
}

// post type Static_html_setting
#static-setting-forms {
  .title {
    margin-block-start: 16px;
    padding: 8px 0;
  }

  input {
    max-width: 100%;
  }
}

// post type Page

#shct-select-template {

  .h2.hndle {
    padding-inline: 16px;
  }

  .shct-post-meta-box {
    box-sizing: border-box;
  }
  
  #shct-template-id {
    width: 100%;
    margin-block-start: 8px;
  }
  .description {
    margin-block-start: 8px;
  }

  #shct-dynasmic-link {
    > :where(div) {
      margin-block-start: 8px;
    }
    :where(input) {
      margin-block-start: 8px;
      width: 100%;
      font-size: 14px;
    }
  }
}
